<p id="notice"><%= notice %></p>

<h1><%= t('.news') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.published') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.published ? 'опубліковано' : 'не опубліковано' %></td>
        <td><%= link_to 'показати', post %></td>
        <td><%= link_to 'редагувати', edit_post_path(post) %></td>
        <td><%= link_to 'видалити', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_post_path %>
